<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <style>
    body {
      background-color: rgb(32, 31, 31);
    }
  </style>
  <body>
    <div class="container">
      <nav class="navbar bg-dark">
        <div class="">
          <a class="navbar-brand" href="/">E.B</a>
        </div>
        <div>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </nav>
    </div>
  </body>
</html>
<%- include('../javascript.ejs'); %>
